/* Code CSS pied de page */

footer {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-evenly;
    background:rgb(250, 250, 250);
    border-bottom: solid 8px rgb(197, 184, 184);

    padding: 5px;
    
}

.nav-footer {
    width: 100%;
    height: 260px;
    padding: 0px;
}

/* Partie footer des pages en CSS */

.footer-container {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 30px;
    
}

.footer-map {

    width: 300px;

}

/* Partie logo du footer en CSS */

.footer-logo {
    flex-grow: 0.5;
}

/* Fin de la partie logo en CSS */


/* Partie map du footer en CSS */

.footer-map {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-left: 120px;
}

#footer-map-div {
    width: 100%;
    height: 100%;

    border: 1px solid black;
}

/* Fin de la partie map en CSS */


/* Partie contact du footer en CSS */

.footer-contact-2 {
    display: flex;
    justify-content: flex-end;
}


.footer-contact {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 80px;
}

.footer-list {
    list-style: none;
}

#footer-list-item-1 {
    padding-bottom: 8px;
}

#footer-list-item-2 {
    padding-top: 8px;
}

.footer_images {
    width: 30px;
    padding-right: 15px;
}

#footer-link {
    text-decoration: none;
    font-size: 2em;
    color: black;
    padding: 0px;
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
    border-radius: 0;
    border: black solid 0px;
    font-size: 1em;
}
/* Fin de la partie contact en CSS */
/* Fin de la partie footer des pages en CSS */


/* Corps de la page d'acceuil en CSS */

/* Image de fond du domaine */

.background {
    height: 350px;

    background-image: url(https://media-cdn.tripadvisor.com/media/photo-m/1280/13/d0/68/40/les-deux-tours.jpg);
    background-repeat: no-repeat;
    background-position: 100% 10%;
    background-size: cover;

    padding-top: 20px;
}

/* CSS acceuil */

.content_accueil {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;

    margin-top: 150px;
    margin-left: 20px;
}

.button_accueil_chambres {
    width: 25%;
    display: inline-block;
    align-self: center;
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: solid white 4px;
    overflow: visible;
    font: 13px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: white;
    background-color: #9ed1cb;
  
    transition: background-color .2s ease-out;
    background-clip: padding-box; /* Fix bleeding */
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255,255,255, .9);

  user-select: none;
}

.button_accueil_chambres:hover{
    background-color: #638183;
  }
  
.button_accueil_chambres:active{
    background: #e9e9e9;
    position: relative;
    top: 1px;
    text-shadow: none;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  }



.div_accueil {
    width: 50%;

    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
}

.p_accueil_description {
    line-height: 200%;
    margin-left: 100px;
    margin-right: 100px;
}

/* Fin CSS acceuil */


/* CSS video YouTube */

.div_video {
    text-align: center;
    flex-grow: 1;
}

#main_video {
    border: 1px solid black;
}
/* Fin CSS video YouTube */


/* CSS galerie */

.content_galerie {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    background-color: rgb(220, 232, 236);
    border-top: solid 5px rgb(197, 184, 184);
}

.div_galerie * {
    box-sizing: border-box;
}
  
/* Placer le conteneur d'images (nécéssaire pour placer les flèches de navigation de la galerie) */
.div_galerie {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 60%; 
}
 
.galerie_displayed_images {
    height: 586.781px;
    object-fit: cover;
    overflow: hidden;
    object-position: 100% 30%;
}

/* Cacher les images par défault */
.galerie_slides {
    display: none;  
    background-color: #AC9D8F;
    box-shadow: inset -1px 0 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}
  
/* Changer de curseur quand on passe sur les images de la galerie */
.cursor {
    cursor: pointer;
}
  
/* Boutons "suivant" et "précédent" */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
/* Placer le bouton "suivant" à droite */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* Quand le curseur passe sur une image, rajouter une couleur de fond noire avec un peu de transparence */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
/* Nombre de l'image affichée (1/10 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
/* Conteneur du texte associé à chaque image */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}


.galerie_first_line, .galerie_second_line {
    display: flex;
    flex-direction: row;
    height: 117.344px;   
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* 6 colones côte à côte */
.column {
    float: left;
    width: 20%;
}
  
/* Ajouter un effet de transparence sur les miniatures de la galerie */
.demo {
    opacity: 0.6;
    height: 117.344px; 
    object-fit: cover;
    overflow: hidden;
    object-position: 80% 90%;
}

.active, .demo:hover {
    opacity: 1;
}

/* Fin CSS galerie */


/* CSS activites */

.content_activites {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    
    margin-top: 150px;
}

.div_activites {
    width: 80%;
    height: 500px;

    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    text-align: center;

    margin: auto;
    padding: 40px;

    background-color: rgb(220, 232, 236);
    border-radius: 80px;
    margin-bottom: 80px;
}

.text_activites_images {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    text-align: center;
}

.image_activites {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;

    margin-left: 80px;
}

#activites_image {
    width: 100px;

}

.text_activites {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;

    padding-left: 20px;
}

.titre_description_activites {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;

    padding-left: 80px;
    margin-right: 80px;

}

#p_text_activites {
    margin-left: 40px;
}

.carte_activites {
    margin-left: 80px;
    margin-right: 80px;
    align-self: center;
}

/* Fin CSS activites */


/* Partie responsive du code CSS */

/* Adapatation du design sur écran inférieur à 838 px */

@media screen and (max-width: 838px) {
    header {
      display: flex;
      flex-direction: column;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .nav-list {
        list-style: none;
        padding: 5px 60px;
    }

    main {
        width: 100%;
        height: 50%;
    }

}

  /* Adapatation du design sur écran inférieur à 1206 px */

@media screen and (max-width: 1206px) {
    header {
      display: flex;
      flex-direction: column;
    }

    .nav-list {
        list-style: none;
        padding: 50px 80px;
    }
}

/* Fin partie responsive du code CSS */