/* Code CSS barre de navigation */

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    background-color: #AC9D8E;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    height: 25vh;
}

main {
    width: 100%;
    height: 50%;   
}

#header-h1 {
    font-size: 3em; 
    margin-left: 40px; 
}

#header-h2 {

h2 {
     font-style: italic;
     font-size: 2em;
}

.List-Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Code CSS qui aux liens */

.Item-Nav-Header a {
    text-decoration: none;
    font-size: 2em;
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    border:#836853 solid 2px ;
    font-size: 1em;
}

.Item-Nav-Header a:hover {
    background-color: gray;
    color: white;
}

.Item-Nav-Header {
    list-style: none;
    padding: 60px 60px;
}



/* Fin du code CSS barre de navigation */

/* Code CSS pied de page */

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
    width: 100%;
    height: 20%;
}

.nav-footer {
    width: 100%;
    padding: 0px;
}


/* Partie footer des pages en CSS */

.footer-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    
}

/* Partie logo du footer en CSS */

.footer-logo {
    flex-grow: 1;
}

/* Fin de la partie map en CSS */

/* Partie map du footer en CSS */

.footer-map {
    flex-grow: 2
}

#temp {
    object-fit: cover;
    /* object-position: 100% 90%; */

    width: 800px;
    height: 100px;
}

/* Fin de la partie map en CSS */

/* Partie contact du footer en CSS */

.footer-contact-2 {
    display: flex;
    flex-grow: 0,5;
}


.footer-contact {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer-list {
    list-style: none;
}

#footer-list-item-1 {
    padding-bottom: 8px;
}

#footer-list-item-2 {
    padding-top: 8px;
}

.footer_images {
    width: 20px;
    padding-right: 15px;
}

#footer-link {
    text-decoration: none;
    font-size: 2em;
    background-color: #45a1ff;
    color: white;
    padding: 0px;
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
    border-radius: 0;
    border: black solid 0px;
    font-size: 1em;
}
/* Fin de la partie contact en CSS */
/* Fin de la partie footer des pages en CSS */

/* Adapatation du design sur écran inférieur à 838 px */

@media screen and (max-width: 838px) {
    header {
      display: flex;
      flex-direction: column;
      margin-top: 100px;
    }

    .List-Header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .Item-Nav-Header {
        list-style: none;
        padding: 5px 60px;
    }

    main {
        width: 100%;
        height: 50%;
    }

}

  /* Adapatation du design sur écran inférieur à 1206 px */

@media screen and (max-width: 1206px) {
    header {
      display: flex;
      flex-direction: column;
      margin-top: 200px;
    }

    .Item-Nav-Header {
        list-style: none;
        padding: 50px 80px;
    }
}

.background {
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-m/1280/13/d0/68/40/les-deux-tours.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    padding-top: 20px;
    background-size: cover;
}

h3 {
    text-align: center;
    color: white;
    font-size: 2em;
}

.Content-accueil {
    display: flex;
    flex-direction: column ;
    justify-self: center ;
    width: 100%;
    height: 100%;
    margin-top: 150px;
    margin-left: 20px;
}

.button-accueil-chambres {
    width: 20%;
    margin-left: 50px;
    border: solid 3px #DDC1BD;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:1px 1px 3px #aaa;
	background:#F1F1F1;
	font:bold 13px Arial;
    color:#555;
    margin-top: 20px;
    margin-left: 310px;
}

.button-accueil-chambres:hover {
    background-color: black ;
    color: white;
}

.div_accueil {
    width: 50% ;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.p_accueil_description {
    line-height: 200%;
}

iframe {
    margin-left: 800px;
    margin-top : -200px;
}
  
