@font-face {
	src: url(../fonts/Lohengrin.ttf);
	font-family: Lohengrin;
}

body {
	margin: 0;
	padding: 0;
	background: rgb(250, 250, 250);
	box-sizing: border-box;
	width: 100%;
}

/*Design Header*/

.header {
	background: rgb(250, 250, 250);
	display: flex;
	flex-direction: row;
	border-bottom: solid 0.5vh rgb(197, 184, 184);
}

.header_nav {
	width: 90%;
	margin: 0 auto;
}

.header .header_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header_title {
	width: 100%;
	height: 100%;
	display: flex;
	flex: 1;
	z-index: 99;
}

.header_title_h2 {
	font-family: Lohengrin;
	font-weight: 400;
	font-style: italic;
	font-size: 6vh;
	text-decoration: none;
	display: flex;
	height: 100%;
	align-items: center;
	color: darkblue;
	margin: 0vh;
}

.header_usermenu {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	height: 100%;
	align-items: center;
}

#header_usermenu_list {
	display: flex;
	margin: 0vh;
}

.header_usermenu_item {
	display: flex;
	height: 8vh;
	justify-content: center;
	align-items: center;
}

.header_usermenu_item_link {
	text-decoration: none;
	color: black;
	font-weight: 300;
	font-size: 2vh;
	display: flex;
	transition: .25s ease;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding: 0 3vh;
}

.header_usermenu_item_link:hover {
	background: rgb(240, 240, 240);
}

.header_usermenu_icon {
	color: rgb(250, 250, 250);
	font-size: 2vh;
	margin-right: 1vh;
}

.header_usermenu_responsive-icon {
	height: 100%;
	justify-content: flex-end;
	align-items: center;
	font-size: 2.5vh;
	color: #fff;
	display: none;
	flex-grow: 1;
}

.header_usermenu_responsive-icon i {
	height: 80%;
	width: 7vh;
	text-align: center;
	line-height: 8vh;
	cursor: pointer;
	margin-right: 3.5vh;
}

/* Fin Design Header */

/* Menu Burger */

input[type=checkbox] {
	transition: all 0.3s;
	box-sizing: border-box;
	display: none;
}

.sidebarIconToggle {
	display: none;
	transition: all 0.3s;
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	z-index: 99;
	height: 100%;
	width: 100%;
	top: 22px;
	right: 15px;
	height: 22px;
	width: 22px;
}

.spinner {
	transition: all 0.3s;
	box-sizing: border-box;
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #000;
}

.horizontal {
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	float: left;
	margin-top: 3px;
}

.diagonal.part-1 {
	position: relative;
	transition: all 0.3s;
	box-sizing: border-box;
	float: left;
}

.diagonal.part-2 {
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	float: left;
	margin-top: 3px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
	transition: all 0.3s;
	box-sizing: border-box;
	opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
	transition: all 0.3s;
	box-sizing: border-box;
	transform: rotate(135deg);
	margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
	transition: all 0.3s;
	box-sizing: border-box;
	transform: rotate(-135deg);
	margin-top: -9px;
}

/* Fin Menu Burger */

/* Code CSS pied de page */

footer {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: space-evenly;
	background: rgb(250, 250, 250);
	padding: 0.5vh;
}

.nav-footer {
	width: 100%;
	height: 26vh;
	padding: 0vh;
}

/* Partie footer des pages en CSS */

.footer-container {
	width: 100%;
	display: flex;
	padding: 2.5vh;
}

.footer-container-phone {
	width: 100%;
	display: flex;
}

/* Partie titre du footer en CSS */

.footer_title {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
}

.footer_title_h2 {
	font-family: Lohengrin;
	font-weight: 400;
	font-style: italic;
	font-size: 6vh;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: darkblue;
	margin: 0vh;
	margin-left: 1vh;
}

#footer_title_h2_2 {
	font-size: 5em;
}

.footer_title>h2 {
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-left: 0vh;
}

/* Fin de la partie titre en CSS */

/* Partie map du footer en CSS */

.footer-map {
	width: 0%;
	height: 100%;
	flex-grow: 2;
}

#footer-map-body {
	width: 100%;
	height: 99%;
	border: 0.1vh solid black;
}

#footer-map-body>iframe {
	height: 100%;
}

#footer-map>a {
	display: none;
}

.footer-map-phone {
	display: none;
}

/* Fin de la partie map en CSS */

/* Partie contact du footer en CSS */

.footer-contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	width: 100%;
	height: 100%;
}

.footer-contact-container>p {
	font-weight: 300;
	font-size: 2vh;
	display: flex;
	align-items: center;
}

.footer-contact-container>button {
	width: 70%;
	height: inherit;
	margin-top: 0.8vh;
	margin-bottom: 0.8vh;
	border: 0.1vh solid black;
	border-radius: 2vh;
	font-size: 3vh;
}

.footer-contact-container>button:hover {
	cursor: pointer;
	background-color: rgb(202, 201, 201);
}

#footer-captcha {
	display: block;
}

#footer-contact {
	display: none;
	width: 70%;
	margin-top: 0.8vh;
	margin-bottom: 0.8vh;
	object-fit: cover;
}

/* Fin de la partie contact en CSS */

/* Fin de la partie footer des pages en CSS */

/* Design Bannière */

body.loaded {
	opacity: 1;
	transition: 1s opacity;
}

.banner {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.banner .background_banner {
	width: 100%;
	position: relative;
	z-index: -1;
	transform: scale(1.1);
}

/* une fois la page chargée */

.loaded .banner .background_banner {
	transform: scale(1.2);
	transition: 9s transform;
}

/* Fin Design Bannière */

/*Design cards des chambres*/

.container_cards {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 10vh;
	border-bottom: solid 0.5vh rgb(197, 184, 184);
}

.main_chambres {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.main_chambres>article {
	border: 0.1vh solid rgb(202, 183, 183);
	box-shadow: 0.4vh 0.7vh 0.6vh 0.4vh rgb(202, 183, 183);
	width: 55%;
	height: 80%;
	margin: 4vh;
}

.main_chambres .text_card {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main_chambres>article img {
	max-width: 100%;
}

.bouton_card {
	height: 5vh;
	width: 100%;
	border: solid white 0.4vh;
	background-color: #9ed1cb;
	color: white;
	cursor: pointer;
	font-size: 1em;
}

.bouton_card:hover {
	background-color: #638183;
}

/*Design modal cards*/

#first_dialog_modal, #second_dialog_modal, #third_dialog_modal {
	margin: 2vh;
	border: none;
}

.modal_card {
	height: 84%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
	opacity: 0.96;
	margin-top: 7vh;
}

.modal_card_description {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.modal_description {
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.modal_card_name {
	background-color: #638183;
	border-bottom: solid 0.5vh #9ed1cb;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
}

.modal_card_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	margin-top: auto;
	background-color: rgb(211, 224, 224);
	padding: 2vh;
}

.modal_article_content {
	padding-top: 8vh;
}

.modal_card_content p {
	line-height: 2.5vh;
}

.modal_card_image {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	background-color: rgb(230, 240, 240);
}

.image_Joséphine {
	width: 33vh;
	height: 20vh;
}

.article-content_h3 {
	letter-spacing: 0.3vh;
	margin-top: -6vh;
	text-align: center;
}

.modal_content_item {
	font-weight: bold;
	font-size: 1.3vh;
	line-height: 2.5vh;
}

.first_dialog_modal {
	width: 100%;
	border: none;
}

#h2_Josephine {}

#h2_Hortense {}

#h2_Heloise {}

.button_close_modal {
	margin-right: 1.5vh;
	background-color: #638183;
	cursor: pointer;
	border: #638183;
}

#button_close_1 {
	position: absolute;
	right: 32vh;
}

#button_close_2 {
	position: absolute;
	right: 50vh;
}

#button_close_3 {
	position: absolute;
	right: 43vh;
}

.li_infos {
	line-height: 2;
}

.text {
	color: black;
}

.characteristics {
	border-left: 0.3vh solid #6CD987;
	padding-left: 1vh;
	line-height: 2.3vh;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------

    MEDIA QUERRY
    Cette mediaQuerry permet de detecter la taille de l'écran et apporte des modification au site lorsque l'écran devient plus petit qu'une certaine valeur en pixels de largeur

---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Adapatation du design sur écran inférieur à 2560 px */

@media (max-width: 2560px) {
	#button_close_1 {
		position: absolute;
		right: 43vh;
	}
	#button_close_2 {
		position: absolute;
		right: 56vh;
	}
	#button_close_3 {
		position: absolute;
		right: 51vh;
	}
}

@media (max-width: 1920px) {
	#button_close_1 {
		position: absolute;
		right: 29vh;
	}
	#button_close_2 {
		position: absolute;
		right: 45vh;
	}
	#button_close_3 {
		position: absolute;
		right: 39vh;
	}
}

/* Adapatation du design sur écran inférieur à 1880 px */

@media (max-width: 1880px) {
	#button_close_1 {
		position: absolute;
		right: 32vh;
	}
	#button_close_2 {
		position: absolute;
		right: 50vh;
	}
	#button_close_3 {
		position: absolute;
		right: 44vh;
	}
}

/* Adapatation du design sur écran inférieur à 1440 px */

@media (max-width: 1440px) {
	#button_close_1 {
		position: absolute;
		right: 8vh;
	}
	#button_close_2 {
		position: absolute;
		right: 26vh;
	}
	#button_close_3 {
		position: absolute;
		right: 19vh;
	}
}

/* Adapatation du design sur écran inférieur à 1024 px */

@media (max-width: 1024px) {
	/*  Header  */
	.header_usermenu {
		flex-grow: 0;
	}
	/*  */
	/*  Footer  */
	#footer-contact {
		width: 100%;
		margin-top: 0.8vh;
		margin-bottom: 0.8vh;
		margin-left: 3vh;
	}
	/*  */
	/*  Partie Accueil  */
	.content_accueil {
		flex-direction: column;
	}
	.div_accueil {
		width: 80%;
		flex-direction: column;
		margin: 8vh;
		margin-bottom: 10vh;
		margin-top: 0;
	}
	/*  */
	/*  Main  */
	.modal_description {
		width: 95%;
	}
	#button_close_1 {
		position: absolute;
		right: 0;
	}
	#button_close_2 {
		position: absolute;
		right: 0;
	}
	#button_close_3 {
		position: absolute;
		right: 0;
	}
}

/* Adapatation du design sur écran inférieur à 768 px */

@media (max-width: 768px) {
	/*  Header  */
	.header_title {
		position: fixed;
		top: 0;
		width: 45%;
		height: 7%;
	}
	.header_usermenu {
		width: 100%;
		height: 85%;
		display: flex;
		flex-direction: column;
		position: fixed;
		top: -36.35vh;
		right: 0;
		border-bottom: solid 0.5vh rgb(197, 184, 184);
		background: white;
		z-index: 97;
	}
	.header_usermenu_card {
		width: 100%;
		display: flex;
		position: fixed;
		align-items: center;
		justify-content: center;
		top: 0;
	}
	#header_usermenu_topbar {
		background-color: rgb(197, 184, 184);
		width: 100%;
		height: 0.5vh;
		position: fixed;
		margin-bottom: 40vh;
		flex: 1;
		z-index: 98;
	}
	.header_usermenu_bar {
		background-color: rgb(151, 147, 147);
		width: 80%;
		height: 0.5vh;
		position: fixed;
		margin-bottom: 55vh;
		flex: 1;
		z-index: 98;
	}
	.sidebarIconToggle {
		display: block;
		transition: all 0.3s;
		box-sizing: border-box;
		cursor: pointer;
		position: fixed;
		z-index: 99;
		top: 22px;
		right: 15px;
		height: 22px;
		width: 22px;
	}
	#header_usermenu_list {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1vh;
		padding: 0;
		border-top: 1px solid rgba(255, 255, 255, 0.10);
	}
	#header_usermenu_list li {
		list-style: none;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		padding: 20px;
		cursor: pointer;
		border-bottom: 1px solid rgba(255, 255, 255, 0.10);
		width: 60%;
	}
	#header_usermenu_list li span {
		display: block;
		font-size: 14px;
		color: rgba(255, 255, 255, 0.50);
	}
	#header_usermenu_list li a {
		width: 100%;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		text-decoration: none;
		color: #000;
		border: 0.1em solid #000000;
		border-radius: 0.52em;
		box-sizing: border-box;
		transition: all 0.2s;
	}
	#header_usermenu_list li a:hover {
		color: #fff;
		background-color: #000;
	}
	input[type="checkbox"]:checked~.header_usermenu {
		transform: translateX(0);
		transition: transform 600ms ease-in-out;
	}
	input[type="checkbox"]:checked~.header_usermenu>#header_usermenu_topbar {
		transform: translateX(0);
		transition: transform 400ms ease-in-out;
		transition-delay: 600ms;
	}
	input[type="checkbox"]:not(:checked)~.header_usermenu {
		transform: translateY(-360px);
		transition: transform 600ms ease-in-out;
		transition-delay: 400ms;
	}
	input[type="checkbox"]:not(:checked)~.header_usermenu>#header_usermenu_topbar {
		transform: translateX(-768px);
		transition: transform 400ms ease-in-out;
	}
	input[type="checkbox"]:checked~.header_usermenu>.header_usermenu_card {
		transform: translateY(46.65vh);
		transition: transform 600ms ease-in-out;
	}
	input[type="checkbox"]:not(:checked)~.header_usermenu>.header_usermenu_card {
		transform: translateY(-360px);
		transition: transform 600ms ease-in-out;
		transition-delay: 400ms;
	}
	/*  */
	/*  Footer  */
	.footer-map {
		display: none;
	}
	.footer-map-phone {
		display: block;
		margin-top: 3vh;
		margin-bottom: 3vh;
	}
	.footer-container {
		display: flex;
		flex-direction: column;
		height: 58vh;
	}
	.footer-container-phone {
		display: flex;
		flex-direction: row;
	}
	#footer-map-body-phone {
		width: 100%;
		height: 200%;
		border: 0.1vh solid black;
	}
	#footer-map-body-phone>iframe {
		height: 100%;
	}
	#footer-contact {
		width: 80%;
	}
	/*  */
	/*  Banner  */
	.banner {
		margin-top: 7vh;
	}
	/*  */
	/*  Main */
	.modal_description {
		width: 90%;
	}
	.container_cards {
		padding-top: 5vh;
	}
}

/* Adapatation du design sur écran inférieur à 425 px */

@media (max-width: 425px) {
	/*  Header  */
	.header_title {
		position: fixed;
		top: 0;
		left: 0;
		width: 79%;
		height: 7%;
	}
	.header_usermenu {
		width: 100%;
		height: 85%;
		display: flex;
		flex-direction: column;
		position: fixed;
		top: -36.35vh;
		right: 0;
		border-bottom: solid 0.5vh rgb(197, 184, 184);
		background: white;
		z-index: 97;
	}
	.header_usermenu_card {
		width: 100%;
		display: flex;
		position: fixed;
		align-items: center;
		justify-content: center;
		top: 0;
	}
	#header_usermenu_topbar {
		background-color: rgb(197, 184, 184);
		width: 100%;
		height: 0.5vh;
		position: fixed;
		margin-bottom: 40vh;
		flex: 1;
		z-index: 98;
	}
	.header_usermenu_bar {
		background-color: rgb(151, 147, 147);
		width: 80%;
		height: 0.5vh;
		position: fixed;
		margin-bottom: 55vh;
		flex: 1;
		z-index: 98;
	}
	.sidebarIconToggle {
		display: block;
		transition: all 0.3s;
		box-sizing: border-box;
		cursor: pointer;
		position: fixed;
		z-index: 99;
		top: 22px;
		right: 15px;
		height: 22px;
		width: 22px;
	}
	#header_usermenu_list {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1vh;
		padding: 0;
		border-top: 1px solid rgba(255, 255, 255, 0.10);
	}
	#header_usermenu_list li {
		list-style: none;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		padding: 20px;
		cursor: pointer;
		border-bottom: 1px solid rgba(255, 255, 255, 0.10);
		width: 60%;
	}
	#header_usermenu_list li span {
		display: block;
		font-size: 14px;
		color: rgba(255, 255, 255, 0.50);
	}
	#header_usermenu_list li a {
		width: 100%;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		text-decoration: none;
		color: #000;
		border: 0.1em solid #000000;
		border-radius: 0.52em;
		box-sizing: border-box;
		transition: all 0.2s;
	}
	#header_usermenu_list li a:hover {
		color: #fff;
		background-color: #000;
	}
	input[type="checkbox"]:checked~.header_usermenu {
		transform: translateX(0);
		transition: transform 600ms ease-in-out;
	}
	input[type="checkbox"]:checked~.header_usermenu>#header_usermenu_topbar {
		transform: translateX(0);
		transition: transform 400ms ease-in-out;
		transition-delay: 600ms;
	}
	input[type="checkbox"]:not(:checked)~.header_usermenu {
		transform: translateY(-360px);
		transition: transform 600ms ease-in-out;
		transition-delay: 400ms;
	}
	input[type="checkbox"]:not(:checked)~.header_usermenu>#header_usermenu_topbar {
		transform: translateX(-768px);
		transition: transform 400ms ease-in-out;
	}
	input[type="checkbox"]:checked~.header_usermenu>.header_usermenu_card {
		transform: translateY(46.65vh);
		transition: transform 600ms ease-in-out;
	}
	input[type="checkbox"]:not(:checked)~.header_usermenu>.header_usermenu_card {
		transform: translateY(-360px);
		transition: transform 600ms ease-in-out;
		transition-delay: 400ms;
	}
	/*  */
	/*  Footer  */
	.footer-map {
		display: none;
	}
	.footer-map-phone {
		display: block;
		margin-top: 3vh;
		margin-bottom: 3vh;
	}
	.footer-container {
		display: flex;
		flex-direction: column;
		height: 51vh;
	}
	.footer-container-phone {
		display: flex;
		flex-direction: row;
	}
	#footer-map-body-phone {
		width: 100%;
		height: 200%;
		border: 0.1vh solid black;
	}
	#footer-map-body-phone>iframe {
		height: 100%;
	}
	.footer_title_h2 {
		font-size: 4vh;
	}
	#footer_title_h2_2 {
		font-size: 3.5em;
	}
	#footer-contact {
		width: 109%;
	}
	/*  */
	/*  Main */
	.main_chambres>article {
		width: 80%;
	}
	#first_dialog_modal, #second_dialog_modal, #third_dialog_modal {
		margin: 0vh;
	}
	.modal_description {
		width: 90%;
		height: 93vh;
	}
	.modal_card {
		margin-top: 13vh;
	}
	.modal_card_content {
		width: 91%;
	}
	.modal_card_image {
		display: none;
	}
}

/* Adapatation du design sur écran inférieur à 375 px */

@media (max-width: 375px) {
	/*  Header  */
	.header_title {
		position: fixed;
		top: 0;
		left: 0;
		width: 90%;
		height: 7%;
	}
	.header_title_h2 {
		font-size: 5vh;
	}
	#header_usermenu_list li a {
		font-size: 0.9em;
	}
	.footer-container {
		display: flex;
		flex-direction: column;
		height: 52vh;
	}
	.footer_title_h2 {
		font-size: 4vh;
	}
	#footer_title_h2_2 {
		font-size: 3.5em;
	}
	#footer-contact {
		width: 111%;
	}
	
	/*  */
	.modal_card_content>h3 {
		margin-block-start: 0em;
		margin-block-end: 0em;
	}
}

/* Adapatation du design sur écran inférieur à 320 px */

@media (max-width: 320px) {
	/*  Header  */
	.header_title {
		position: fixed;
		top: 0;
		left: 0;
		width: 90%;
		height: 7%;
	}
	.header_title_h2 {
		font-size: 4.5vh;
	}
	.footer_title_h2 {
		font-size: 3.5vh;
	}
	#footer_title_h2_2 {
		font-size: 3em;
	}
	.footer-contact-container>p {
		font-size: 1.6vh;
	}
	#footer-contact {
		width: 113%;
	}
	.footer-contact-container>button {
		font-size: 2.5vh;
	}
	/*  */
	.modal_card_name {
		justify-content: flex-end;
		padding-left: 3vh;
	}
	.modal_card_content p {
		line-height: 2.5vh;
	}
	.modal_card_content>h3 {
		margin-top: 1vh
	}
	.li_infos {
		line-height: 1.5;
	}
	#tarif_responsive_ajustement>h4, p {
		margin-block-start: 0em;
		margin-block-end: 0em;
	}
}

/* Fin partie responsive du code CSS */

/*Adaptation du design sur petits écrans*/