/*Design Header*/

.header {
	background:rgb(250, 250, 250);
	display: flex;
	flex-direction: row;
	border-bottom: solid 5px rgb(197, 184, 184);
}

.header_nav {
	width: 90%;
	margin: 0 auto;
}
	
.header .header_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
	
.header_title {
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
	
.header_title h2 {
	color: black;
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 26px;
	text-decoration: none;
	display: flex;
	height: 100%;
	align-items: center;
}
	
.header_usermenu {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	height: 100%;
	align-items: center;
}
	
.header_usermenu_item {
	display: flex;
	height: 80px;
	justify-content: center;
	align-items: center;
}
	
.header_usermenu_item_link {
	text-decoration: none;
	color: black;
	font-weight: 300;
	font-size: 20px;
	display: flex;
	transition: .25s ease;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
}
	
.header_usermenu_item_link:hover {
	background: rgb(240, 240, 240);
}
	
.header_usermenu_icon {
	color: rgb(250, 250, 250);
	font-size: 20px;
	margin-right: 10px;
}
	
.header_usermenu_responsive-icon {
	height: 100%;
	justify-content: flex-end;
	align-items: center;
	font-size: 26px;
	color: #fff;
	display: none;
	flex-grow: 1;
}
	
.header_usermenu_responsive-icon i {
	height: 80%;
	width: 70px;
	text-align: center;
	line-height: 80px;
	cursor: pointer;
	margin-right: 35px;
}
	

.burger_menu {
	cursor: pointer;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Ic_menu_48px.svg/768px-Ic_menu_48px.svg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/* Corps de la page 404 */

body {
    margin: 0;
}

.main_container {
    display: flex;
    justify-content: center;
    margin-top: 15.5vh;
    margin-bottom: 35.6vh;
}

.texts_container {
    display: flex;
    align-items: center;
}

.texts_404 {
    align-self: center;
    text-align: center;
    font-family: Helvetica ;
}


/* Code CSS pied de page */

footer {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-evenly;
    background:rgb(250, 250, 250);
    border-bottom: solid 8px rgb(197, 184, 184);

    padding: 5px;
    
}

.nav-footer {
    width: 100%;
    height: 260px;
    padding: 0px;
}



/* Partie footer des pages en CSS */

.footer-container {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 30px;
    
}

.footer-map {

    width: 300px;

}

/* Partie logo du footer en CSS */

.footer-logo {
    flex-grow: 0.5;
}

/* Fin de la partie logo en CSS */


/* Partie map du footer en CSS */

.footer-map {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-left: 120px;
}

#footer-map-div {
    width: 100%;
    height: 100%;

    border: 1px solid black;
}

/* Fin de la partie map en CSS */


/* Partie contact du footer en CSS */

.footer-contact-2 {
    display: flex;
    justify-content: flex-end;
}


.footer-contact {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 80px;
}

.footer-list {
    list-style: none;
}

#footer-list-item-1 {
    padding-bottom: 8px;
}

#footer-list-item-2 {
    padding-top: 8px;
}

.footer_images {
    width: 30px;
    padding-right: 15px;
}

#footer-link {
    text-decoration: none;
    font-size: 2em;
    color: black;
    padding: 0px;
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
    border-radius: 0;
    border: black solid 0px;
    font-size: 1em;
}
/* Fin de la partie contact en CSS */
/* Fin de la partie footer des pages en CSS */


/*Adaptation du design sur petits écrans*/
@media (max-width: 780px) {

	/*Header*/
	
	.header_nav {
		width: 95%;
	}

	.header_usermenu {
		display:none;
	}
	
	.header_usermenu_responsive-icon {
		display:flex;
	}

	.header_usermenu_item_link {
		border-bottom: solid 2px white;
	}
	  
	  .header_usermenu.clicked {
		display: flex;
		position: absolute;
		flex-direction: column;
		height: 300px;
		width: 100%;
		background: rgb(241, 241, 241);
		align-self: self-start;
		justify-content: space-around;
		margin: 0 -2.5%;
		margin-top: 90px;
		z-index: 2;
	}
	  
	  .header_usermenu.clicked .header_usermenu_item,
	  .header_usermenu.clicked .header_usermenu_item a {
		width: 100%;
	}

	.header_usermenu_item {
		background: rgb(240, 240, 240);
	}

	  .header_usermenu_item_link:hover {
		background:rgb(255, 255, 255);
	}
 
	.main-menu-responsive-icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.main-menu-responsive-icon i {
		height: 40px;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		color: #666;
		flex-grow: 1;
	}
}