/*Design Header*/

.header {
	background:rgb(250, 250, 250);
	display: flex;
	flex-direction: row;
	border-bottom: solid 5px rgb(197, 184, 184);
}

.header_nav {
	width: 90%;
	margin: 0 auto;
}
	
.header .header_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
	
.header_title {
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
	
.header_title h2 {
	color: black;
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 26px;
	text-decoration: none;
	display: flex;
	height: 100%;
	align-items: center;
}
	
.header_usermenu {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	height: 100%;
	align-items: center;
}

#header_usermenu_list {
	display: flex;
	margin: 0px;
}
	
.header_usermenu_item {
	display: flex;
	height: 80px;
	justify-content: center;
	align-items: center;
}
	
.header_usermenu_item_link {
	text-decoration: none;
	color: black;
	font-weight: 300;
	font-size: 20px;
	display: flex;
	transition: .25s ease;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
}
	
.header_usermenu_item_link:hover {
	background: rgb(240, 240, 240);
}
	
.header_usermenu_icon {
	color: rgb(250, 250, 250);
	font-size: 20px;
	margin-right: 10px;
}
	
.header_usermenu_responsive-icon {
	height: 100%;
	justify-content: flex-end;
	align-items: center;
	font-size: 26px;
	color: #fff;
	display: none;
	flex-grow: 1;
}
	
.header_usermenu_responsive-icon i {
	height: 80%;
	width: 70px;
	text-align: center;
	line-height: 80px;
	cursor: pointer;
	margin-right: 35px;
}
   
/* Fin Design Header */


/* Burger menu */

.burger_menu {
	cursor: pointer;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Ic_menu_48px.svg/768px-Ic_menu_48px.svg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/* Fin Burger menu */   


/* Design Bannière */
    
body.loaded { 
    opacity: 1; 
    transition: 1s opacity; 
} 

  .banner { 
    position: relative;  
	height: 40rem; 
	width: 100%; 
    overflow: hidden; 
} 

    .banner .background_banner { 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    z-index: -1; 
    transform:  scale(1.1); 
    background:  url(https://media-cdn.tripadvisor.com/media/photo-m/1280/13/d0/68/40/les-deux-tours.jpg) no-repeat;  
    background-size: cover; 
    background-position: 20% 10%; 
} 

  /* une fois la page chargé */ 
    .loaded .banner .background_banner { 
    transform: scale(1.2); 
    transition: 9s transform; 
} 

/* Fin Design Bannière */

/* Code CSS pied de page */

footer {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-evenly;
    background:rgb(250, 250, 250);


    padding: 5px;
    
}

.nav-footer {
    width: 100%;
    height: 260px;
    padding: 0px;
}

/* Partie footer des pages en CSS */

.footer-container {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 30px;
    
}

.footer-map {

    width: 300px;

}

/* Partie logo du footer en CSS */

.footer-logo {
    flex-grow: 0.5;
}

/* Fin de la partie logo en CSS */


/* Partie map du footer en CSS */

.footer-map {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-left: 120px;
}

#footer-map-div {
    width: 100%;
    height: 100%;

    border: 1px solid black;
}

/* Fin de la partie map en CSS */


/* Partie contact du footer en CSS */

.footer-contact-2 {
    display: flex;
    justify-content: flex-end;
}


.footer-contact {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 80px;
}

.footer-list {
    list-style: none;
}

#footer-list-item-1 {
    padding-bottom: 8px;
}

#footer-list-item-2 {
    padding-top: 8px;
}

.footer_images {
    width: 30px;
    padding-right: 15px;
}

#footer-link {
    text-decoration: none;
    font-size: 2em;
    color: black;
    padding: 0px;
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
    border-radius: 0;
    border: black solid 0px;
    font-size: 1em;
}
/* Fin de la partie contact en CSS */
/* Fin de la partie footer des pages en CSS */


/* Corps de la page d'acceuil en CSS */

/* Image de fond du domaine */

.background {
    height: 350px;

    background-image: url(https://media-cdn.tripadvisor.com/media/photo-m/1280/13/d0/68/40/les-deux-tours.jpg);
    background-repeat: no-repeat;
    background-position: 100% 10%;
    background-size: cover;

    padding-top: 20px;
}

/* CSS acceuil */

main {
    border-bottom: solid 5px rgb(197, 184, 184);
}

body {
    margin: 0px;
}

.content_accueil {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;

    margin-top: 150px;
    margin-left: 20px;
}

.button_accueil_chambres {
    width: 25%;
    display: inline-block;
    align-self: center;
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: solid white 4px;
    overflow: visible;
    font: 13px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: white;
    background-color: #9ed1cb;
  
    transition: background-color .2s ease-out;
    background-clip: padding-box; /* Fix bleeding */
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255,255,255, .9);

  user-select: none;
}

.button_accueil_chambres:hover{
    background-color: #638183;
  }
  
.button_accueil_chambres:active{
    background: #e9e9e9;
    position: relative;
    top: 1px;
    text-shadow: none;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  }



.div_accueil {
    width: 50%;

    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
}

.p_accueil_description {
    line-height: 200%;
    margin-left: 100px;
    margin-right: 100px;
}

/* Fin CSS acceuil */


/* CSS video YouTube */

.div_video {
    text-align: center;
    flex-grow: 1;
}

#main_video {
    border: 1px solid black;
}
/* Fin CSS video YouTube */

/* CSS galerie */

.content_galerie {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    
    margin-top: 150px;
    margin: 20px;
}

.div_galerie * {
    box-sizing: border-box;
}
  
/* Placer le conteneur d'images (nécéssaire pour placer les flèches de navigation de la galerie) */
.div_galerie {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 60%; 
}
 
.galerie_displayed_images {
    width: 100%;
    height: 586.781px;
    object-fit: cover;
    overflow: hidden;
    object-position: 100% 30%;
}

/* Cacher les images par défault */
.galerie_slides {
    display: none;  
}
  
/* Changer de curseur quand on passe sur les images de la galerie */
.cursor {
    cursor: pointer;
    width: 100%;
}
  
/* Boutons "suivant" et "précédent" */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
/* Placer le bouton "suivant" à droite */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* Quand le curseur passe sur une image, rajouter une couleur de fond noire avec un peu de transparence */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Nombre de l'image affichée (1/10 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
/* Conteneur du texte associé à chaque image */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}


.galerie_first_line {
    display: flex;
    flex-direction: row;
    height: 117.344px;   
}

.galerie_second_line {
    display: flex;
    flex-direction: row;
    height: 117.344px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* 6 colones côte à côte */
.column {
    float: left;
    width: 20%;
}
  
/* Ajouter un effet de transparence sur les miniatures de la galerie */
.demo {
    width: 100%;
    opacity: 0.6;
    height: 117.344px; 
    object-fit: cover;
    overflow: hidden;
    object-position: 80% 90%;
}

.active, .demo:hover {
    opacity: 1;
}

/* Fin CSS galerie */  


/* CSS activites */

.content_activites {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    
    margin-top: 150px;
}

.div_activites {
    width: 80%;
    height: 500px;

    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    text-align: center;

    margin: auto;
    padding: 40px;

    background-color: rgb(220, 232, 236);
    border-radius: 80px;
    margin-bottom: 80px;
}

.text_activites_images {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    text-align: center;
}

.image_activites {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;

    margin-left: 80px;
}

#activites_image {
    width: 100px;

}

.text_activites {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;

    padding-left: 20px;
}

.titre_description_activites {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;

    padding-left: 80px;
    margin-right: 80px;

}

#p_text_activites {
    margin-left: 40px;
}

.carte_activites {
    margin-left: 80px;
    margin-right: 80px;
    align-self: center;
}

/* Fin CSS activites */


/* Partie responsive du code CSS */

/* Adapatation du design sur écran inférieur à 838 px */

@media screen and (max-width: 838px) {
    header {
      display: flex;
      flex-direction: column;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .nav-list {
        list-style: none;
        padding: 5px 60px;
    }

    main {
        width: 100%;
        height: 50%;
        border-bottom: solid 5px rgb(197, 184, 184);
    }

}

  /* Adapatation du design sur écran inférieur à 1206 px */

@media screen and (max-width: 1206px) {
    header {
      display: flex;
      flex-direction: column;
    }

    .nav-list {
        list-style: none;
        padding: 50px 80px;
    }
}

/* Fin partie responsive du code CSS */

/*Adaptation du design sur petits écrans*/
@media (max-width: 780px) {

	/*Header*/
	
	.header_nav {
		width: 95%;
	}

	.header_usermenu {
		display:none;
	}
	
	.header_usermenu_responsive-icon {
		display:flex;
	}

	.header_usermenu_item_link {
		border-bottom: solid 2px white;
	}
	  
	  .header_usermenu.clicked {
		display: flex;
		position: absolute;
		flex-direction: column;
		height: 300px;
		width: 100%;
		background: rgb(241, 241, 241);
		align-self: self-start;
		justify-content: space-around;
		margin: 0 -2.5%;
		margin-top: 90px;
		z-index: 2;
	}
	  
	  .header_usermenu.clicked .header_usermenu_item,
	  .header_usermenu.clicked .header_usermenu_item a {
		width: 100%;
	}

	.header_usermenu_item {
		background: rgb(240, 240, 240);
	}

	  .header_usermenu_item_link:hover {
		background:rgb(255, 255, 255);
	}
 
	.main-menu-responsive-icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.main-menu-responsive-icon i {
		height: 40px;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		color: #666;
		flex-grow: 1;
	}

	/*Banner*/

	.banner {
		height: 20rem;
	}
}